<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[% title || c.config.name %]</title>
  <link rel="stylesheet" type="text/css" href="[% c.uri_for("/css/universal.css") %]" />
[%-# feed, prev, next, opensearch, etc %]
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>

 <header id="ego">
  <img src="[% c.uri_for("/img/ego/ego-renewable.png") %]" />
  <h1>[% title || "Untitled page: " _ c.config.name %]</h1>
 </header>

 <div id="content">
[% content %]

<h3>To do</h3>

[% FILTER html_para %]
legal page alla http://diveintohtml5.org/legal.html ... should be able
to discover plugins etc.
 
[% END %]

 </div>
 <footer>
  <small>
Ego is free open source software released under
the <a itemprop="license"
       href="http://www.perlfoundation.org/artistic_license_2_0">Artistic
    License 2.0</a> &middot; <a href="http://github.com/pangyre/p5-ego">Ego on Github</a>
  </small>
 </footer>
 </body>
</html>
