<h3>O HAI, <a href="[% c.user.url %]">[% c.user.nickname | html %]</a></h3>

<p>
[% c.user.url %]
 &middot; 
[% c.user.display %]
<br />
[% c.user.rss || "none" %]
</p>

<form action="[% c.uri_for('/') %]" method="GET" name="openid">
  <input type="text" name="openid_identifier" class="openid" />
  <input type="submit" value="Sign in with OpenID" />
</form>
