[% articles = [ 1 .. 3 ] %]
[% FOR article IN articles %]
 [% PROCESS lib/article.tt %]
[% END %]


<script type="text/javascript">
jQuery(function($) {
 var string = $("time:first").text().substr(0,1);
// alert(string);
});
</script>
